
.left {
    float: left;
}

.clear {
    clear: both;
}

.buysblock {
    background: rgb(38, 168, 226);
}

.commentsblock {
    background: rgb(39, 183, 121);
}


/* Common End */


/* Cards Daily Attendence Start */

#DACardOne h3 {
    margin: 0;
    padding: 7px 0px 8px 0px;
}

.DAhr {
    margin: 0px;
    border: 0;
    border-top: 1px solid #eee;
}

.metroblockDA {
    /*width: 17.5em;*/
    height: 11em;
    padding: 1em;
    color: #fff;
    /*font-family: 'Open Sans', sans-serif;*/
    /*margin: 1em 1em 1em 0em;*/
}

.metroblockDA h1,
.metroblockDA h3,
.metroblockDA .icon {
    font-weight: 300;
    margin: 0;
    padding: 5px;
    font-size: 20px;
}

.metroblockDA h1,
.metroblockDA .icon {
    font-size: 3.5em;
    text-align: center;
}

.metroblockDA h1 span {
    font-size: 26px;
    color: black;
}

.metroblockDA .icon {
    margin-right: .2em;
}

.cardPresent {
    background: rgb(76, 175, 80)
}

.cardAbsent {
    background: rgb(244, 67, 54)
}

.cardLate {
    background: rgb(255, 193, 7)
}

.cardLeave {
    background: rgb(139, 195, 74)
}


/* .buysblockDA {
    background: rgb(38, 168, 226);
}

.commentsblockDA {
    background: rgb(39, 183, 121);
} */


/* Cards Daily Attendence End */


/* Cards Employee Start */

.metroblockEmp {
    /*width: 11.5em;
    height: 11em;
    padding: 0em 1em 1em 1em;*/
    color: #fff;
    /*font-family: 'Open Sans', sans-serif;
    margin: 1em 1em 1em 0em;*/
}

.metroblockEmp h1,
.metroblockEmp h2,
.metroblockEmp .icon {
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.metroblockEmp h1,
.metroblockEmp .icon {
    font-size: 3em;
    text-align: center;
    padding-top: 20px;/*changes by sb*/
    margin-bottom: 12px;/*changes by sb*/
    font-weight: 400;
}

.metroblockEmp .icon {
    /*margin-right: .2em;*/
}

.buysblockEmp {
    background: rgb(0, 150, 136);
}


/* Cards Employee End */


/* Cards Salary Start */

.cardS h3 {
    margin: 0;
    padding: 7px 0px 8px 0px;
}

.cardS {
    background: rgb(255, 87, 34)
}


/* Cards Salary End */


/* Custom Css Start*/

.customeFont {
    padding: 8px 0px 0px 0px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    /* margin: 1em; */
}

.customeFontForTd {
    /* padding: 8px 0px 0px 0px; */
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    /* margin: 1em; */
}

.MALeftBg {
    background-color: rgb(63, 81, 181);
}

.MARightBg {
    background-color: rgb(33, 150, 243);
}

.MAhr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #fff;
    margin: 1em 0;
    padding: 0;
}


/* Custom Css End*/


/*new custom css added by shahin 29 jan 2019*/


/*#donutchart {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}*/
/*@media(min-width: 320px) and (max-width: 560px) {
    .card h3 {
        font-size: 14px;
    }
    .card h4 {
        font-size: 12px;
    }
}*/